In [1]:
#This is the Astroalign notebook which attempts to match stars between two images. It was a useful tool for detecting
#exact coordinates for the standard star and variable star on the image.
import pandas as pd
import numpy as np
import astroalign as aa
import glob
import matplotlib.pyplot as plt
%config InlineBackend.figure_format = 'retina'

In [2]:
#Getting all the csv files for each star image:
file_list = glob.glob('Reduced_star_Light_Blue*.csv')

In [3]:
file_list

['Reduced_star_Light_Blue_30_secs_001.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_002.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_003.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_004.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_005.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_006.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_007.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_008.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_009.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_010.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_011.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_012.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_013.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_014.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_015.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_016.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_017.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_018.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_019.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_020.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_021.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_022.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_023.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_024.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_025.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_026.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_027.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_028.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_029.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_030.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_031.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_032.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_033.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_034.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_035.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_036.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_037.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_038.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_039.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_040.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_041.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_042.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_043.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_044.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_045.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_046.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_047.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_048.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_049.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_050.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_051.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_052.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_053.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_054.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_055.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_056.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_057.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_058.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_059.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_060.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_061.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_062.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_063.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_064.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_065.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_066.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_067.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_068.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_069.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_070.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_071.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_072.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_073.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_074.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_075.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_076.fitsstar_stats.csv',
 'Reduced_star_Light_Blue_30_secs_077.fitsstar_stats.csv']

In [4]:
#The source image will be image 1. The target is from image 2-whenever the image list ends
df_source = pd.read_csv('Reduced_star_Light_Blue_30_secs_001.fitsstar_stats.csv', index_col=0)
df_target = pd.read_csv('Reduced_star_Light_Blue_30_secs_002.fitsstar_stats.csv', index_col=0)

In [5]:
df_source

,Area of circular aperture,Sum of circular aperture,Median of annulus,id,star counts,MJD,xcentroid,ycentroid
0,1385.44236,10423.697138,0.560953,1,9646.528615,59967.872682,2370.660725,1756.591486
1,1385.44236,5366.108948,0.544675,2,4611.493624,59967.872682,290.053225,3145.249889
2,1385.44236,3924.829259,0.530482,3,3189.877320,59967.872682,3204.716319,1038.645707
3,1385.44236,2658.662518,0.527744,4,1927.503423,59967.872682,2141.517805,33.827906
4,1385.44236,2146.930125,0.533967,5,1407.149741,59967.872682,3052.379635,58.814945
5,1385.44236,2383.589548,0.522419,6,1659.808045,59967.872682,1548.180846,2291.571212
6,1385.44236,2065.894667,0.514775,7,1352.703688,59967.872682,1279.435684,1550.656119
7,1385.44236,2452.367839,0.522017,8,1729.143040,59967.872682,2171.294422,2685.211168
8,1385.44236,2448.915428,0.523171,9,1724.091648,59967.872682,2169.545067,2683.743424
9,1385.44236,2492.906229,0.520164,10,1772.248999,59967.872682,4063.482762,2851.787847
10,1385.44236,2116.904933,0.523611,11,1391.472334,59967.872682,262.731346,1544.257677
11,1385.44236,2116.887953,0.523645,12,1391.408168,59967.872682,261.236136,1543.013251
12,1385.44236,2115.500416,0.519790,13,1395.361576,59967.872682,3887.067602,2086.627655
13,1385.44236,1350.813387,0.519500,14,631.076168,59967.872682,946.443005,905.288346
14,1385.44236,2386.857082,0.520931,15,1665.137357,59967.872682,1551.455156,2293.077036
15,1385.44236,1574.827342,0.515637,16,860.442450,59967.872682,3357.155765,2845.316070
16,1385.44236,1181.376438,0.523417,17,456.211791,59967.872682,2576.950172,386.495910
17,1385.44236,1187.220413,0.519493,18,467.492272,59967.872682,2313.770765,166.442052
18,1385.44236,1337.087724,0.514215,19,624.672035,59967.872682,2396.380690,2205.914678
19,1385.44236,1575.874147,0.514942,20,862.452158,59967.872682,3359.112653,2846.671211
20,1385.44236,1363.492696,0.519068,21,644.354315,59967.872682,4279.907717,2240.514955

In [6]:
df_target

,Area of circular aperture,Sum of circular aperture,Median of annulus,id,star counts,MJD,xcentroid,ycentroid
0,1385.44236,10253.325440,0.556794,1,9481.919457,59967.874225,2372.863511,1753.714348
1,1385.44236,3904.422684,0.528337,2,3172.441565,59967.874225,3207.061678,1035.866622
2,1385.44236,5311.807103,0.536096,3,4569.076644,59967.874225,291.944744,3142.431298
3,1385.44236,2607.852815,0.526403,4,1878.552480,59967.874225,2143.333141,30.972551
4,1385.44236,2131.763125,0.532227,5,1394.393337,59967.874225,3053.992567,55.870975
5,1385.44236,2367.740274,0.519628,6,1647.825957,59967.874225,1550.067970,2288.301938
6,1385.44236,2056.249103,0.520288,7,1335.419515,59967.874225,1282.647100,1547.744483
7,1385.44236,2104.525001,0.519064,8,1385.391066,59967.874225,3890.144207,2084.046863
8,1385.44236,2442.196459,0.519690,9,1722.195437,59967.874225,2172.933227,2681.624108
9,1385.44236,2150.173256,0.530175,10,1415.646404,59967.874225,582.993006,126.040172
10,1385.44236,2110.254395,0.524690,11,1383.326878,59967.874225,263.354942,1540.436975
11,1385.44236,2507.477003,0.524256,12,1781.151221,59967.874225,4067.351026,2849.503739
12,1385.44236,2436.460796,0.521390,13,1714.105575,59967.874225,2178.372072,2682.442907
13,1385.44236,2371.421117,0.519927,14,1651.092876,59967.874225,1552.951144,2290.066593
14,1385.44236,1330.393472,0.508706,15,625.609947,59967.874225,2398.869744,2203.243331
15,1385.44236,1572.124022,0.515308,16,858.194270,59967.874225,3360.828196,2842.974979
16,1385.44236,1345.269272,0.520591,17,624.020879,59967.874225,948.686135,902.133709
17,1385.44236,1184.589568,0.523380,18,459.476522,59967.874225,2315.548597,163.270101
18,1385.44236,1285.137075,0.514526,19,572.290819,59967.874225,1623.037834,2402.800766
19,1385.44236,1179.191328,0.517868,20,461.714588,59967.874225,2579.030387,383.680078
20,1385.44236,1337.217957,0.515688,21,622.761397,59967.874225,4284.109960,2238.332080
21,1385.44236,1075.356930,0.512717,22,365.017139,59967.874225,2292.439710,1813.192187
22,1385.44236,1021.419241,0.514555,23,308.532349,59967.874225,2483.882966,68.739451
23,1385.44236,1151.036644,0.522615,24,426.984201,59967.874225,815.736000,595.673046
24,1385.44236,1261.660967,0.511722,25,552.699511,59967.874225,2749.786369,3086.885481
25,1385.44236,991.694827,0.511048,26,283.666930,59967.874225,2034.038623,1195.942932
26,1385.44236,1028.906067,0.519376,27,309.340903,59967.874225,196.333248,249.613712
27,1385.44236,1080.829294,0.516983,28,364.578661,59967.874225,1505.513258,2511.112262
28,1385.44236,1098.867840,0.526121,29,369.957071,59967.874225,2938.675409,1240.445000
29,1385.44236,1034.414415,0.519957,30,314.044193,59967.874225,993.369543,797.631644
30,1385.44236,1285.938938,0.516164,31,570.822943,59967.874225,1626.268978,2404.069093
31,1385.44236,1150.155804,0.521888,32,427.109453,59967.874225,817.644443,597.755229

In [7]:
#Finding the  transform between the source file and reference file:
transf, (source_list, target_list) = aa.find_transform(df_source[['xcentroid', 'ycentroid']],
                                                       df_target[['xcentroid', 'ycentroid']])

In [8]:
transf

<SimilarityTransform(matrix=
    [[ 1.00030242e+00,  1.43922222e-04,  1.51139162e+00],
     [-1.43922222e-04,  1.00030242e+00, -2.87093257e+00],
     [ 0.00000000e+00,  0.00000000e+00,  1.00000000e+00]]) at 0x233363d5460>

In [9]:
#find the rows in the source dataframe that are in the source_list list - these are the stars that were matched. Using get_indexer to keep the rows in the same order as source_list
df_matched_source = df_source.iloc[pd.Index(df_source['xcentroid']).get_indexer(source_list[:,0])]
df_matched_source.reset_index(inplace=True)

In [10]:
#Doing the same for the matched target df:
df_matched_target = df_target.iloc[pd.Index(df_target['xcentroid']).get_indexer(target_list[:,0])]
df_matched_target.reset_index(inplace=True)

In [11]:
df_matched_source.head()

,index,Area of circular aperture,Sum of circular aperture,Median of annulus,id,star counts,MJD,xcentroid,ycentroid
0,12,1385.44236,2115.500416,0.519790,13,1395.361576,59967.872682,3887.067602,2086.627655
1,20,1385.44236,1363.492696,0.519068,21,644.354315,59967.872682,4279.907717,2240.514955
2,14,1385.44236,2386.857082,0.520931,15,1665.137357,59967.872682,1551.455156,2293.077036
3,9,1385.44236,2492.906229,0.520164,10,1772.248999,59967.872682,4063.482762,2851.787847
4,19,1385.44236,1575.874147,0.514942,20,862.452158,59967.872682,3359.112653,2846.671211

In [12]:
df_matched_target.head()

,index,Area of circular aperture,Sum of circular aperture,Median of annulus,id,star counts,MJD,xcentroid,ycentroid
0,7,1385.44236,2104.525001,0.519064,8,1385.391066,59967.874225,3890.144207,2084.046863
1,20,1385.44236,1337.217957,0.515688,21,622.761397,59967.874225,4284.109960,2238.332080
2,13,1385.44236,2371.421117,0.519927,14,1651.092876,59967.874225,1552.951144,2290.066593
3,11,1385.44236,2507.477003,0.524256,12,1781.151221,59967.874225,4067.351026,2849.503739
4,15,1385.44236,1572.124022,0.515308,16,858.194270,59967.874225,3360.828196,2842.974979

In [13]:
#Add a column which gives the id:
df_out = df_matched_target.join(df_matched_source['id'], rsuffix='_ref')

In [14]:
df_out

,index,Area of circular aperture,Sum of circular aperture,Median of annulus,id,star counts,MJD,xcentroid,ycentroid,id_ref
0,7,1385.44236,2104.525001,0.519064,8,1385.391066,59967.874225,3890.144207,2084.046863,13
1,20,1385.44236,1337.217957,0.515688,21,622.761397,59967.874225,4284.109960,2238.332080,21
2,13,1385.44236,2371.421117,0.519927,14,1651.092876,59967.874225,1552.951144,2290.066593,15
3,11,1385.44236,2507.477003,0.524256,12,1781.151221,59967.874225,4067.351026,2849.503739,10
4,15,1385.44236,1572.124022,0.515308,16,858.194270,59967.874225,3360.828196,2842.974979,20
5,19,1385.44236,1179.191328,0.517868,20,461.714588,59967.874225,2579.030387,383.680078,17
6,3,1385.44236,2607.852815,0.526403,4,1878.552480,59967.874225,2143.333141,30.972551,4
7,17,1385.44236,1184.589568,0.523380,18,459.476522,59967.874225,2315.548597,163.270101,18
8,8,1385.44236,2442.196459,0.519690,9,1722.195437,59967.874225,2172.933227,2681.624108,9
9,1,1385.44236,3904.422684,0.528337,2,3172.441565,59967.874225,3207.061678,1035.866622,3
10,10,1385.44236,2110.254395,0.524690,11,1383.326878,59967.874225,263.354942,1540.436975,12
11,16,1385.44236,1345.269272,0.520591,17,624.020879,59967.874225,948.686135,902.133709,14
12,15,1385.44236,1572.124022,0.515308,16,858.194270,59967.874225,3360.828196,2842.974979,16
13,4,1385.44236,2131.763125,0.532227,5,1394.393337,59967.874225,3053.992567,55.870975,5
14,5,1385.44236,2367.740274,0.519628,6,1647.825957,59967.874225,1550.067970,2288.301938,6
15,0,1385.44236,10253.325440,0.556794,1,9481.919457,59967.874225,2372.863511,1753.714348,1
16,10,1385.44236,2110.254395,0.524690,11,1383.326878,59967.874225,263.354942,1540.436975,11
17,6,1385.44236,2056.249103,0.520288,7,1335.419515,59967.874225,1282.647100,1547.744483,7
18,8,1385.44236,2442.196459,0.519690,9,1722.195437,59967.874225,2172.933227,2681.624108,8
19,14,1385.44236,1330.393472,0.508706,15,625.609947,59967.874225,2398.869744,2203.243331,19

In [15]:
#Want to show just the coordinates for RV Uma approximated to (1148.75, 900.75) using SAOimageD9:
df_out_ = df_out[df_out['xcentroid'].between(900, 2700, inclusive=False) & df_out['ycentroid'].between(1400, 2100, inclusive=False)]
df_out_
#id_ref is the id from source (image 1) and id is the id for the image being analysed
#The star counts in output 14 are that for the target image (image 2)

C:\Users\micha\AppData\Local\Temp\ipykernel_21996\2290661318.py:2: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  df_out_ = df_out[df_out['xcentroid'].between(900, 2700, inclusive=False) & df_out['ycentroid'].between(1400, 2100, inclusive=False)]

,index,Area of circular aperture,Sum of circular aperture,Median of annulus,id,star counts,MJD,xcentroid,ycentroid,id_ref
15,0,1385.44236,10253.325440,0.556794,1,9481.919457,59967.874225,2372.863511,1753.714348,1
17,6,1385.44236,2056.249103,0.520288,7,1335.419515,59967.874225,1282.647100,1547.744483,7